<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<body>
    <h2>만나서 반갑습니다</h2>
    <h6>회원가입 하세요 당장 </h6>
    <hr/>
    
    <form action="/join" method="post">
        아이디 : <input type = "text" /><br />
        암호   : <input type = "password" /><br />
        암호1  : <input type = "password" /><br />
        이름   : <input type = "text" /><br />
        나이   : <input type = "text" /><br />
        <input type="submit" value="회원가입" />
    </form>
    <hr/>

</body>
</html>