<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FBI Warning</title>
    <link rel ="stylesheet" href="/static/css/bootstrap.min.css/" />
</head>
<body>
    <!--엑셀 처럼 나옴-->
    <div class="form-inline" style="margin-left: 20px;">
        {%autoescape off%}
        {{df}}
        {% endautoescape%}
    </div>
</body>
</html>