<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% if not list %}
        수정하고 싶은 값을 체크해주세요 </br>
        <a href="/board/t2_list">돌아가기 </a>
    
    
    {% else %}
        <form action ="/board/t2_update_all" method ="post">
            <input type ="hidden" name="menu" value="2" />
            <table border="0" >
                {% for i in list %}
                <tr>
                    <td><input type ="text" name ="no[]" value="{{i.no}}" readonly/></td>
                    <td><input type ="text" name ="name[]" value="{{i.name}}" /></td>
                    <td><input type ="text" name ="kor[]" value="{{i.kor}}" /></td>
                    <td><input type ="text" name ="eng[]" value="{{i.eng}}" /></td>
                    <td><input type ="text" name ="math[]" value="{{i.math}}" /></td>

                
                </tr>
                {% endfor %}
            </table> 
            <input type ="submit" value = "일괄 수정"/> 
        </form> 
    {% endif %}
</body>
</html>